<!-- <a> tags are to add hyperlinks -->
<!-- These are to be displayed at the top of the html page
     while the component beneath it changes -->
<!-- Each link corresponds to page: 
     localhost:4200/register, localhost:4200/login, localhost:4200/home -->
<a class="headerText" routerLink="/register" routerLinkActive="active">Register</a> |
<a class="headerText" routerLink="/login" routerLinkActive="active">Login</a> |
<a class="headerText" [style.visibility]="isHomeVisible ? 'visible' : 'hidden'" routerLink="/home" routerLinkActive="active">Home</a>
<!-- isHomeVisible hides Home until the user logs in first -->