<form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Username:</label><br>
    <input formControlName="username">
    <span style="color:red" *ngIf="usernameError"><br>*Username is required to be at least 6 characters.</span>
    <br>

    <label>Password:</label><br>
    <input formControlName="password">
    <span style="color:red" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid"><br>*Username is required to be at least 6 characters.</span>
    <br>

    <label>Confirm Password:</label><br>
    <input formControlName="confirmPassword"><br>

    <button type="submit" [disabled]="loginForm.invalid">Login!</button>
</form>