<!-- This is the Html for the Login page. It is a Reactive Form where 
     the form's structure and logic are defined in the component class (check login.component.ts file) using 
     Angular's FormGroup and FormControl. 
     In the login.component.ts file, you can see the rules and requirements for the user's inputs defined -->

<!-- Property Bind formGroup to the property loginForm in the LoginComponent class at login.component.ts (line 33) -->
<!-- Event Bind ngSubmit to the login() method that can be found in LoginComponent class at login.component.ts (line 70) -->
<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
    <label class="loginLabel"> Username:</label><br>
    <input class="inputBox" formControlName="username">
    <span style="color:red" *ngIf="loginForm.get('username').touched && loginForm.get('username').invalid"><br>*Username is required to be at least 6 characters.</span>
    <br>
    <!-- "usernameError" -->
    <label class="loginLabel">Password:</label><br>
    <input class="inputBox" formControlName="password">
    <span style="color:red" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid"><br>*Username is required to be at least 6 characters.</span>
    <br>

    <label class="loginLabel">Confirm Password:</label><br>
    <input class="inputBox" formControlName="confirmPassword"><br>

    <button id="loginButton" type="submit" [disabled]="loginForm.invalid">Login</button>
</form>