h1{
    background-color: blue;
}

label {
    font-size: 2em;
}

input {
    font-size: 1.25em;
}

.rightButtons {
    padding: 3px 20px;
    margin-right: 20px; 
    font-size: 1.25em;
    font-weight: bold;
}

.valid{
    color: green;
    background-color: yellow;
}

#searchIngredients{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

#dishListing{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dishGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 50px;
}

#dishDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}