<!-- This is the Register html page. Asks for Username, Password, Confirm password, 
     Address (Street Number, Zip Code) -->

<!-- ngMForm, ngModel basically act as a way to name specific tags -->

<!-- This is a Template-Driven Form. The form's structure and logic are primarily defined in the HTML template itself 
     (right here in this html file). The requirements for user input for what's valid and invalid are defined on this page. -->

<!-- We give the form (<form> element) a Template Variable called(named) #registerForm.
    ngForm is a directive provided by the FormsModule.
    Angular automatically creates a FormGroup instance for the <form>, allowing us to manage its state, validation, and events easily.   
     
     And add an Event Binding () on (ngSubmit) for the submit button so that we can pass through the the information from our form so we can use it.
     
     onSubmit(registerForm, addressForm) method-> From the RegisterComponent class defined in register.component.ts
     It will take in the registerForm and addressForm Template Variables as arguments for the onSubmit() method. -->

<!-- appConfirm -> the selector for the confirm directive at comfirm.directive.ts, 
                   which we are using to confirm that the Password and Confirm Password match. 
     This is so that the form can use the confirm directive.-->
<br>
<body>
     <div id="insideBody">
          <form id="mainForm" appConfirm #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm, addressForm)">
               <div id="userDiv" class="formSection">
                    <div>
                         <!-- The following provide input for the user to fill and requirements for those values -->
                         <label>Username:</label><br>
                    </div>
                    <div>
                         <!-- name="" attribute is an HTML feature used to uniquely identify the form control within the <form> element. -->
                         <!-- ngModel keyword tells the <input> that it is a FormControl. Add a Template Variable  -->
                         <!-- #username="ngModel" syntax creates a template reference variable called username 
                              that references the Angular directive ngModel applied to the input. -->
                         <!-- It gives you access to the input’s state (e.g., whether it’s valid, touched, dirty, etc.) within the template.
                              This is useful when you want to check or display the input field's validation status or value in real-time in the template. -->
                         <input ngModel name="username" #username="ngModel" required minlength="6"> <!--required minlength="6"-->
                    </div>
                    <div class="spanDiv">
                         <!-- <span> tag is an inline element, meaning it doesn’t cause line breaks and flows with surrounding content. -->
                         <!-- is a generic inline container used for grouping and styling text or other inline elements. -->
                         <span style="color:red" *ngIf="username.touched && username.invalid"><br>*Username is required of at least 6 characters.</span>
                         <br>
                    </div>
               </div>
               <div id="passDiv" class="formSection">
                    <div>
                         <label>Password:</label><br>
                    </div>
                    <div>
                         <input ngModel name="password" #password="ngModel" required>
                    </div>
                    <div class="spanDiv">
                         <span style="color:red" *ngIf="password.touched && password.errors?.['required']"><br>*Password is required, please provide a password.</span>
                         <br>
                    </div>
               </div>
               <div id="confDiv" class="formSection">
                    <div>
                         <label>Confirm Password:</label><br>
                    </div>
                    <div>
                         <input ngModel name="confirmPassword" #confirmPassword="ngModel" required>
                    </div>
                    <div class="spanDiv">
                         <span style="color:red" *ngIf="confirmPassword.touched && confirmPassword.invalid"><br>*Please confirm the password you have provided.</span>
                         <br>
                    </div>
               </div>
               <div id="addFormDiv" class="formSection">
                    <form id="addressForm" #addressForm="ngForm">
                         <div id="addLabel" class="formSection">    
                              <label>Address:</label><br>
                         </div>
                         <div id="afterAddLabel" class="formSection">
                              <div id="streetDiv" class="formSection">
                                   <div>
                                        <label>Street Number:</label><br>
                                   </div>
                                   <div>
                                        <input type="text" name="street" ngModel #street="ngModel"><br>
                                   </div>
                              </div>
                              <div id="zipDiv" class="formSection">
                                   <div>
                                        <label>Zip Code:</label>
                                   </div>
                                   <div>
                                        <input type="number" name="zip" ngModel #zip="ngModel"><br>
                                   </div>
                              </div>
                         </div>
                    </form>
               </div>

               <button id="submitButton" type="submit" [disabled]="registerForm.form.invalid || addressForm.form.invalid">Submit</button>

          </form>

     </div>
</body>